$transition-delay: 0.5s;

@mixin transition($property){
	-webkit-transition: $property $transition-delay;
    -moz-transition: $property $transition-delay;
    -ms-transition: $property $transition-delay;
    -o-transition: $property $transition-delay;
    transition: $property $transition-delay;
}