@import 'fonts/fonts';
@import 'colours';
@import 'mixins';
$margin-auto-center: 0 auto;
$transition-delay: 0.8s;

.social-media-buttons {
	min-height: 50px;
	text-align: center;
	@include transition($transition-delay);

	@media only screen and (min-width:640px){
		padding-bottom:10px;
	}

	img {
		margin: 0px 10px 10px 10px;			
		opacity:0.9;
		padding-bottom:5px;
	}
	img:hover {
		opacity:1;
	}
}

header {
    background-image: url("../img/hero-small.png");
    background-repeat: no-repeat;
	background-size:cover;
	padding-top: 20px;
	min-height:250px;
	margin-bottom:30px;
	@include transition($transition-delay);

	@media only screen and (min-width:640px){
		background-image: url("../img/hero.png");
	}

}

header.smaller {
	min-height:80px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99;

	.logo {
		z-index:99;
		position:fixed;
		margin-left:40%;
		width:120px;
		
		@media only screen and (min-width:640px){
			margin-left:45%;
		}

		h1 {
			font-size: 22px;
			padding: 4px 4px 2px 4px;
		}

		h2 {
			font-size: 14px;
			padding: 4px 4px 2px 4px;
		}
	}

	.social-media-buttons  {
		z-index:99;
		display:inline;
		margin-left:5%;
		margin-top: 30px;
		position:fixed;
		top:0;
		left:0;

		img {
			margin: 0px 5px 5px 5px;		
			height:30px;
			width:30px;
		}
	}

}