@import 'fonts/fonts';
@import 'colours';

$pad: 10px;
$margin-auto-center: 0 auto;

.title {
	font-family: $font-stack;
	margin:$margin-auto-center;
	text-align:center;
	width: 250px;

	@media only screen and (min-width:640px){
		width: 300px;
	}
	
	h1 {
	    background-color:rgba(242, 242, 242, 0.9);
	    border-style: solid solid none solid;
    	border-color:$dark-grey;
		font-size: 50px;
		vertical-align: text-bottom;
		padding: 15px 15px 10px 15px;
		margin-top:0px;
		margin-bottom:0px;

		@media only screen and (min-width:640px){
			font-size: 70px;
			padding: 20px 20px 15px 20px;
		}
	}

	h2 {
		font-size: 20px;
		text-align:center;
		border-style: none solid solid solid;
    	border-color:$dark-grey;
		background-color:rgba(153, 0, 51, 0.8);
		color: $cream;
		margin-top:0px;
		padding: 20px 20px 15px 20px;

		@media only screen and (min-width:640px){
			font-size: 30px;
		}
	}
}

.hero {
	background-image: url("../img/hero-small.png");
	background-repeat: no-repeat;
	background-size:cover;
	min-height: 150px;
    padding-top: 20px;
    margin-bottom: 20px;

    @media only screen and (min-width:640px){
    	background-image: url("../img/hero.png");
		min-height: 450px;
	    padding-top:100px;
    }

    @media only screen and (min-width:1300px){
    	background-image: url("../img/hero.png");
		min-height: 600px;
	    padding-top:100px;
    }


    .social-media-buttons {
    	min-height: 50px;
		display:inline;

		@media only screen and (min-width:640px){
			padding-bottom:10px;
		}

		img {
			margin: auto 10px 10px 10px;			
			opacity:0.9;
			padding-bottom:20px;
		}
		img:hover {
			opacity:1;
		}
    }
}