/*TODO: css-reset*/
@import 'fonts/fonts';
@import 'colours';

body {
	font-family: $font-stack;
	background-color: #333333;
	margin:0;
	padding:0;
}

a {
	color:$cream;

	&:hover {
		color:#996515;
	}
}

header {
    background-image: url("../img/trim-small.png");
    background-repeat: no-repeat;
	background-size:cover;
    height: 200px;

    	@media only screen and (min-width:640px){
    		background-image: url("../img/trim.png");
    	}
}
