@import 'fonts/fonts';
@import 'colours';

$margin-auto-center: 0 auto;

.project-panel {
	font-family: $font-stack;
	margin-top:-10px;
}
.project  {
	width:45%;
	margin:2%;
	display:inline;
	position: relative;
	text-align: center;
	float: left;
	cursor:pointer;

	border-radius: 5px;
    box-shadow: 0 2px 0 0 $cream;
    background-color: $cream;
    border: 1px $cream solid;
    
    @media only screen and (min-width:660px){
		width:23%;
		margin:0.8%;
	}

	img {
		border-radius: 5px;
		z-index: 1;
		width:100%;

		@media only screen and (min-width:660px){
			opacity: 0.8;
		}
	}

	img:hover {
		opacity: 1.0;
		background-color: #cccccc;
	}
}