@font-face {
	font-family: 'UrbanElegance';
	  src: url('fonts/urban-elegance.ttf')  format('truetype');
}

.blog-post {
	background-color: #fbf9ea;
	width:100%;
	min-height: 200px;
	padding:20px;
	margin-top:50px;
}

@media only screen and (min-width:640px){
	.blog-post {
		width:80%;
		margin-right: auto;
		margin-left: auto;
	}
}

.blog-post h1 {
	font-family: 'UrbanElegance',Helvetica,Arial,sans-serif;
	margin-top: 0px;
}