@font-face {
	font-family: 'UrbanElegance';
	  src: url('fonts/urban-elegance.ttf')  format('truetype');
}

.project-panel {
	font-family: 'UrbanElegance',Helvetica,Arial,sans-serif;
}
.project  {
	display:inline;
	position: relative;
	text-align: center;
}

.project img {
	margin-top:-20px;
	width:25%;
	float: left;
	z-index: 1;
}

.project img:hover {
	opacity: 0.5;
	background-color: #cccccc;
}

.project-title {
	color:white;
    z-index: 2;
    position: absolute;
    left: 0; 
}